<nav class="navbar navbar-expand-sm navbar-light">

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav justify-content-center text-uppercase font-weight-bold">

      <!-- <li class="nav-item"><a class="nav-link" href="#">Registry</a></li> -->
      <!-- <li class="nav-item"><a class="nav-link" href="#">RSVP</a></li> -->
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://disneycruise.disney.go.com/cruises-destinations/list/DF0452/4-night-halloween-on-the-high-seas-bahamian-cruise-from-port-canaveral/october-19-2020-disney-fantasy/">
          Cruise Info
        </a>
      </li>

    </ul>
  </div>
</nav>
